@model VaiCaralhoMVC.Models.Faq

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutAdm.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Faq</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pergunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pergunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
