@model VaiCaralhoMVC.Models.Usuario


@{
	Layout = "~/Views/Shared/_PartialProfissional.cshtml";
}


					<div class="w3-card-4 col-md-10 col-sm-8 ml-4 text-center">
						<div class="row">

                            <div class="col-md-6 col-sm-5 mt-4">
                                <h5>Informações</h5>
                                <hr />
                                <p>Nome: @Html.DisplayFor(model => Model.Nome)</p>
                                <p>Profissão: @Html.DisplayFor(model => Model.Profissional.FirstOrDefault().Profissao)</p>
                                <p>Data de nascimento: @Html.DisplayFor(model => Model.Data_nascimento)</p>
                                <p>Email: @Html.DisplayFor(model => Model.Email)</p>
                                <p>Sexo: @Html.DisplayFor(model => Model.Sexo)</p>
                                <p>Telefone: @Html.DisplayFor(model => Model.Telefone)</p>
                                <p>Celular: @Html.DisplayFor(model => Model.Celular)</p>
                                @Html.ActionLink("Editar", "EditContato", new { id = Model.Id }) |
                            </div>




							<div class="col-md-6 col-sm-5 mt-4">
								<h5>Escolaridade</h5>
								<hr />
								<p>Nível: @Html.DisplayFor(model => Model.Profissional.FirstOrDefault().Escolaridade.Nivel)</p>
								<p>Status: @Html.DisplayFor(model => Model.Profissional.FirstOrDefault().Escolaridade.Status)</p>
								<p>Modalidade: @Html.DisplayFor(model => Model.Profissional.FirstOrDefault().Escolaridade.Modalidade)</p>
								<p>Instituição: @Html.DisplayFor(model => Model.Profissional.FirstOrDefault().Escolaridade.Instituicao)</p>
								<p>Curso: @Html.DisplayFor(model => Model.Profissional.FirstOrDefault().Escolaridade.Curso)</p>


							</div>


							<div class="col-md-6 col-sm-5 mt-3">
								<h5>Endereço</h5>
								<hr />
								<p>Estado: @Html.DisplayFor(model => Model.Endereco.ToList().FirstOrDefault().Estado)</p>
								<p>Cidade: @Html.DisplayFor(model => Model.Endereco.ToList().FirstOrDefault().Cidade)</p>
								<p>Bairro: @Html.DisplayFor(model => Model.Endereco.ToList().FirstOrDefault().Bairro)</p>
								<p>CEP: @Html.DisplayFor(model => Model.Endereco.ToList().FirstOrDefault().Cep)</p>

							</div>


							<div class="col-md-6 col-sm-5 mt-4">
								<h5>Disponibilidades</h5>
								<hr />
								<p>Disponibilidade: @Html.DisplayFor(model => Model.Profissional.FirstOrDefault().Disponibilidade)</p>
							</div>

							<div class="col-md-6 col-sm-5 mt-4">
								<h5>Habilidades</h5>
								<hr />


								@foreach (var item in Model.Profissional.FirstOrDefault().Profissional_habilidade)
								{
									<p>@item.Habilidade.Descricao</p>
								}




							</div>

							<div class="col-md-6 col-sm-5 mt-4">
								<h5>Capacitações</h5>
								<hr />


								@foreach (var item in Model.Profissional.FirstOrDefault().Profissional_habilidade)
								{
									<p>@item.Habilidade.Descricao</p>
								}




							</div>


						</div>
						<br />
						<br />
						<br />
					</div>
					<br />


				



